
.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 640px;
  padding: 10px;
  border: 1px solid #ddd;
  overflow: scroll;
  background: #eee;
}

.content-wrapper .table {
  min-width: 1000px;
}

.table thead tr,
.table tbody tr {
  position: relative;
}

.js-cell-fixed {
  position: absolute;
  top: auto;
  left: auto;
}

.js-cell-fixed.is-first {
  width: 100px;
  background-color: #ddd !important;
  z-index: 9;
  color: #333 !important;
}

.js-cell-fixed.is-second {
  width: 100px;
  background-color: #333 !important;
  z-index: 9;
  margin-left: 100px;
}

.static-start {
  left: 200px;
  position: relative;
}


@media screen and (max-width:768px) {
  /* 画面サイズが768pxまで */

  .content-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    overflow: scroll;
    background: #ddd;
  }
  
}

@media screen and (min-width:769px) {
  /* 画面サイズが769pxから適用される */
  .content-wrapper {
    background: #000;
  }

}