#fixedTableArea {
  width: 640px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #333;
  background: #333;
}

#bottomLeftArea {
  float: left;
  height: 170px;
  overflow: hidden;
}
#bottomRightArea {
  width: 400px;
  height: 170px;  
  overflow: scroll;
}

.fixedTable {
  border-collapse: collapse;
}
.fixedTable td {
  border: 1px solid #888;
  min-width: 90px;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  background: #ddd;
}
.fixedTable td.dummyColumn {
  width: 17px;
  border: 0px;
  opacity: 0;
}
.fixedTable td.dummyRow {
  height: 18px;
  border: 0px;
  opacity: 0;
}